{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programação Web com Django</title>
    <link rel="stylesheet" href="{% static 'portfolio/estilos1.css' %}">
</head>
<body>
    <header>
        <h1>Programação Web com Django</h1>
        <p>Esta cadeira oferece uma introdução abrangente ao desenvolvimento de aplicações web utilizando o framework Django, com foco especial na plataforma PythonAnywhere. Durante o curso, os alunos são guiados desde os conceitos fundamentais de programação em Python até a construção de aplicações web completas e funcionais.</p>
    </header>

    <section>
        <h2>Funcionamento da Cadeira</h2>
        <p>O curso começa com uma revisão das bases de Python, abordando conceitos como sintaxe, estruturas de dados e funções. Em seguida, os alunos são introduzidos ao framework Django e sua arquitetura MVT (Model-View-Template), aprendendo como estruturar e organizar projetos web de forma eficiente.</p>

        <p>Os principais tópicos cobertos incluem a criação de modelos para representar dados no banco de dados, o uso de formulários para coletar informações dos usuários, a implementação de autenticação de usuários, a manipulação de URLs e views para controlar o fluxo da aplicação, e a utilização de templates para renderizar páginas HTML dinamicamente.</p>

        <p>Além disso, os alunos têm a oportunidade de explorar temas avançados, como a criação de APIs para interação com outras aplicações, a integração de CSS para estilizar as páginas web, e o uso de JavaScript para adicionar interatividade e dinamismo aos projetos.</p>
    </section>

    <section>
        <h2>Linguagens Utilizadas</h2>
        <ul>
            <li>Python</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>HTML</li>
        </ul>
    </section>

    <section>
        <h2>Vídeo Explicativo de Django</h2>
        <div class="video-container">
            <iframe width="560" height="315" src="https://youtu.be/ZeB5WaoLSqM" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <section>
        <h2>Vídeo Explicativo do meu Website</h2>
        <div class="video-container">
            <iframe width="560" height="315" src="https://youtu.be/Fous8BIGCQM" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

</body>
</html>
