<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introdução ao Charmander</title>
</head>
<body style = "background-color: #ff5733">
  <a href="{% url 'novaapp:menu' %}" style =  "color:white; font-size: 110%" >Menu Principal</a>
  <h1 style = "color:white">Introdução ao Charmander</h1>
  <center>
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="Charmander" >
  </center>
  <p style = "color:white;font-size: 125%">O Charmander é um dos Pokémon iniciais da região de Kanto. Ele é um Pokémon do tipo fogo e é conhecido por sua chama que queima na ponta de sua cauda. O Charmander eventualmente evolui para Charmeleon e, em seguida, para Charizard. Sua chama é um indicador de sua saúde e emoções, e se a chama diminuir, pode ser um sinal de que o Charmander está enfraquecido. Ele é um Pokémon popular entre os treinadores devido à sua aparência carismática e seu potencial de se tornar um poderoso Pokémon do tipo fogo.</p>
</body>
</html>
