<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introdução ao Pikachu</title>
</head>
<body style = "background-color: #ffe533">
  <a href="{% url 'novaapp:menu' %}" style =  "color:white; font-size: 110%" >Menu Principal</a>
  <h1  style = "color:white">Introdução ao Pikachu</h1>
  <center>
  <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Pikachu">
  </center>
  <p style = "color:white;font-size: 125%">O Pikachu é um dos Pokémon mais conhecidos e populares do mundo. Ele é um Pokémon do tipo elétrico, conhecido por sua aparência fofa e suas bochechas vermelhas. O Pikachu é o Pokémon parceiro do treinador Ash Ketchum na série de anime e nos jogos eletrônicos de Pokémon. Sua habilidade de gerar eletricidade o torna um adversário formidável em batalhas Pokémon.</p>
</body>
</html>
